@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family:'Poppins';
}

.about-container {
    max-width: 1200px;
    margin: 70px auto;
    padding: 20px;
    background-color: #3C3C3C; /* Dark grey */
    color: #FAFAFA; /* White */
    border: 1px solid #424242; /* Dark grey */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.about-container h1 {
    font-size: 2.5rem;
    color: #FFF225; /* Yellow */
    margin-bottom: 20px;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInUp 1s forwards; /* Animation for heading */
}

.about-container p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #EDEDED; /* White */
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards 0.5s; /* Animation for paragraphs with delay */
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .about-container {
        padding: 10px;
    }

    .about-container h1 {
        font-size: 2rem;
    }

    .about-container p {
        font-size: 1rem;
    }
}
